body  {
  margin: 0;
  background-color: red;
  font-family: "Courier", sans-serif;

}

.submit-form {
  padding: 30px;
  position: relative;
  min-height: 65vh;

}

.footer {
  background-color: red;
  margin: 0;
}

.gamePage{
}
